.cardbox-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardbox-flexSwipe {
  flex-wrap: nowrap;
}

.cardbox-absolute {
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 2;
}

.cardbox {
  background-color: $c-secondary;
  flex: 0 1 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .imgbox {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 41px;
  }
  p {
    font-weight:lighter;
  }
}

.cardbox-nospace {
  flex: 1;
}

.cardbox-style {
  margin: 0;
  background-color: transparent;
  &:not(:last-child) {
    border-right: 1px solid $white;
  }
}

.cardbox-style2 {
  background-color: white;
  border: 1px solid #ccc;
  min-width: 300px;
}