.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  .carousel-inner {
    height: 100vh;
  }
  .carousel-indicators {
    margin-bottom: 5rem;
  }
  .carousel-item {
    height: 100vh;
  }
  .caption {
    color: $c-primary;
  }
  .container-hero {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
  }
}
