.paralax {
  height: 630px;
  background-attachment: fixed;
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.paralax-background {
  background-image: url('../assets/bg-booking.jpg');
}