.Hello {
  font-family: Comfortaa, sans-serif;
  font-size: 12em;
  color: white;
}

.Hello.has-shadow {
  text-shadow:
    0 3px 0 #bbb,
    0 13px 13px rgb(0 0 0 / 15%),
    0 23px 3px rgb(0 0 0 / 10%),
    0 33px 13px rgb(0 0 0 / 10%);
}
