section.booking.section-spacer--default.paralax.paralax-background
  .d-flex.justify-content-center.align-items-center.h-100
    figure.text-center
      img.p-4.img-fluid(src="assets/logo.svg", alt="", width="400px")
      figcaption 
        p.c-white Agende agora sua consulta! 
        a.btn.btn-success.rounded-0(href="#" title="whatsapp") 
          i.fa-brands.fa-whatsapp &nbsp;
          | AGENDAR
        
