.container.position-relative
  .cardbox-flex.cardbox-absolute
    mixin cardbox(src,title)
      a.link.link-white.cardbox(href="#")
        .imgbox
          img(src=src, alt="")
        .title
          = title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum blanditiis hic id, ullam nam incidunt itaque tempora a vel atque voluptates eligendi, molestiae rerum quos! Eum dolore suscipit numquam assumenda.
    +cardbox('assets/convenios.svg','CONVÊNIOS')
    +cardbox('assets/clock.svg','HORÁRIOS')
    +cardbox('assets/users.svg','CORPO CLÍNICO')
    +cardbox('assets/calendar.svg','AGENDAMENTO')
