#carousel-hero.carousel.hero.slide.carousel-fade
  .carousel-indicators
    button.active(type='button' data-bs-target='#carousel-hero' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
    button(type='button' data-bs-target='#carousel-hero' data-bs-slide-to='1' aria-label='Slide 2')
    button(type='button' data-bs-target='#carousel-hero' data-bs-slide-to='2' aria-label='Slide 3')
  .carousel-inner
    .carousel-item.active
      .carousel-hero--image.img-1
      mixin container-hero(col, h1, p)
        .container.container-hero
          .row
            div(class=col)
              .caption
                h1.fw-bold.text-xl6.animated.fadeInRight
                  = h1
                p.animated.fadeInLeft 
                  = p
      +container-hero('col-md-6','INSTITUTO PERSONNALITÉ','Seja bem vindo a estética do sorriso, conheça a personnalité e agende a sua consulta!')
    .carousel-item
      .carousel-hero--image.img-2
      +container-hero('col-md-6','TITULO','. Id, cumque odit! Placeat ea, hic esse, impedit, dolores blanditiis sint commodi officiis iure modi provident odit accusamus laboriosam ad aliquid nemo.')
    .carousel-item
      .carousel-hero--image.img-3
      +container-hero('col-md-6','TITULO','. Id, cumque odit! Placeat ea, hic esse, impedit, dolores blanditiis sint commodi officiis iure modi provident odit accusamus laboriosam ad aliquid nemo.')
  button.carousel-control-prev(type='button' data-bs-target='#carousel-hero' data-bs-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.visually-hidden Previous
  button.carousel-control-next(type='button' data-bs-target='#carousel-hero' data-bs-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.visually-hidden Next