section.equipe.section-spacer--default
  .container 
    .row
      .col-md-12.text-center
        h2.title.c-primary.spacer-mb--default PERSONNALITÉ
  .container-fluid 
    .row 
      .col-md-12
        #carouselSwipe.carousel.slide.carouselSwipe
          .carousel-inner
            .carousel-item.active
              .cardbox-flex.cardbox-flexSwipe
                +cardbox('cardbox-style2','assets/convenios.svg','CONVÊNIOS','texto texto','button')
                +cardbox('cardbox-style2','assets/clock.svg','HORÁRIOS','texto texto','button')
                +cardbox('cardbox-style2','assets/users.svg','CORPO CLÍNICO','texto texto','button')
                +cardbox('cardbox-style2','assets/calendar.svg','AGENDAMENTO','texto texto','button')
            .carousel-item
              .cardbox-flex.cardbox-flexSwipe
                +cardbox('cardbox-style2','assets/convenios.svg','CONVÊNIOS','texto texto','button')
                +cardbox('cardbox-style2','assets/clock.svg','HORÁRIOS','texto texto','button')
                +cardbox('cardbox-style2','assets/users.svg','CORPO CLÍNICO','texto texto','button')
                +cardbox('cardbox-style2','assets/calendar.svg','AGENDAMENTO','texto texto','button')
            .carousel-item
              .cardbox-flex.cardbox-flexSwipe
                +cardbox('cardbox-style2','assets/convenios.svg','CONVÊNIOS','texto texto','button')
                +cardbox('cardbox-style2','assets/clock.svg','HORÁRIOS','texto texto','button')
                +cardbox('cardbox-style2','assets/users.svg','CORPO CLÍNICO','texto texto','button')
                +cardbox('cardbox-style2','assets/calendar.svg','AGENDAMENTO','texto texto','button')
          button.carousel-control-prev(type='button' data-bs-target='#carouselSwipe' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next(type='button' data-bs-target='#carouselSwipe' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next

