section.equipe.section-spacer--default
  .container 
    .row
      .col-md-12.text-center
        h2.title.c-primary.spacer-mb--default PERSONNALITÉ
  .container-fluid 
    .row 
      .col-md-12 

        .cardbox-flex
          +cardbox('cardbox-style2','assets/convenios.svg','CONVÊNIOS','button')
          +cardbox('cardbox-style2','assets/clock.svg','HORÁRIOS','button')
          +cardbox('cardbox-style2','assets/users.svg','CORPO CLÍNICO','button')
          +cardbox('cardbox-style2','assets/calendar.svg','AGENDAMENTO','button')
          +cardbox('cardbox-style2','assets/convenios.svg','CONVÊNIOS','button')
          +cardbox('cardbox-style2','assets/clock.svg','HORÁRIOS','button')
          +cardbox('cardbox-style2','assets/users.svg','CORPO CLÍNICO','button')
          +cardbox('cardbox-style2','assets/calendar.svg','AGENDAMENTO','button')