section.footer.section-spacer--default
  .container 
    .row 
      .col-md-4
        a(href="#" title="Home")
          figure.mb-4
            img(src="assets/logo-dourada.svg", alt="Logo Dourada")
        p.mb-4.c-white.fw-light.text-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, adipisci! Modi, vitae voluptatibus nemo odio consequatur neque quibusdam culpa natus quis facere quos eos suscipit! Aliquam voluptatibus laborum tempora magni?
        ul.list-unstyled
          +social("d-inline me-3","link-footer","https://www.facebook.com/institutopersonnalitedf","fa-brands fa-facebook")
          +social("d-inline me-3","link-footer","https://www.instagram.com/institutopersonnalitedf","fa-brands fa-instagram")
          +social("d-inline me-3","link-footer","https://wa.me/5561982463555","fa-brands fa-whatsapp")
      .col-md-4
        h3.title.text-sm.mb-2.c-white.title-b contatos
        ul.list-unstyled
          li.mb-3.fw-light.text-xs
            a.link.link-footer(href="#") 
              i.fa-solid.fa-location-dot &nbsp;
              | Setor terminal norte Edifico Jaime Leal Salas:217 a 220 Asa Norte Brasília-DF
          li.mb-3.fw-light.text-xs
            a.link.link-footer() 
              i.fa-solid.fa-clock &nbsp;
              | 08h00 às 18h00
          li.mb-3.fw-light.text-xs
            a.link.link-footer(href="#")
              i.fa-brands.fa-whatsapp &nbsp;
              | 98246-3555 (Whatsapp)
          li.mb-3.fw-light.text-xs
            a.link.link-footer(href="mailto:contatos@personnaliteodontologia.com.br") 
              i.fa-solid.fa-envelope &nbsp;
              | contatos@personnaliteodontologia.com.br
      .col-md-4
        h3.title.text-xs.mb-2.c-white.title-b Galeria
        div#instagram(data-mc-src='d8241615-0828-4e27-8632-21551bbe2eee#null')
section.copyright.bg-primary
  .container-fluid 
    .row.py-3
      .col-md-6
        p.c-white.m-0.text-xs Copyright © 2023 | Todos os direitos reservados https://www.personnaliteodontologia.com.br/
      .col-md-6.text-end 
        p.m-0.text-xs.c-white 
          | Developed by 
          a.link.link-footer(href="#") Carlos_vz