doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Arquetipo-bootstrap 5.2
    link(rel='stylesheet', href='styles/main.scss')
    link(rel='icon', type='image/svg+xml', href='assets/favicon.svg')
    script(type="module" src='scripts/main.js')
    script(type="module" src='scripts/bootstrap.js')

  body 
    header
      include navbar.pug
    section.content

    footer