section#map
a.btn.d-block.btn-primary.rounded-0.text-xl2.p-4.fw-bold(href="https://goo.gl/maps/rjPsqXZYVnmKdA1P8" title="Encontre a Rota") 
  .iplay
    .iplay-item
      span.iplay-hover
        span.iplay-icon
          i.fa-sharp.fa-solid.fa-location-dot

  | &nbsp; CLIQUE AQUI PARA SEGUIR A ROTA
