nav.navbar.navbar-expand-lg.nav-primary
  .container
    a.navbar-brand(href='#')
      img(src="assets/logo.svg", alt="Logo Personnalité")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='#') A Clínica
        li.nav-item
          a.nav-link Serviços
        li.nav-item
          a.nav-link Agendar
      ul.navbar-nav.mb-2.mb-lg-0.navbar-social
        +social("nav-item","nav-link","https://www.facebook.com/institutopersonnalitedf","fa-brands fa-facebook")
        +social("nav-item","nav-link","https://www.instagram.com/institutopersonnalitedf","fa-brands fa-instagram")
        +social("nav-item","nav-link","https://wa.me/5561982463555","fa-brands fa-whatsapp")
