section.servicos.section-spacer--default
  .container 
    .row
      .col-md-12.text-center
        h2.title.c-white.spacer-mb--default SERVIÇOS
    .cardbox-flex.cardbox-saparate
      +cardbox('link link-white cardbox-style','assets/servicos/endodontia.svg','ENDODONTIA','Tratamento de canal')
      +cardbox('link link-white cardbox-style','assets/servicos/ortodontia.svg','ORTODONTIA','Aparelhos estéticos de porcelana')
      +cardbox('link link-white cardbox-style','assets/servicos/clinicageral.svg','CLÍNICA GERAL','Grande Infraestrutura')
      +cardbox('link link-white cardbox-style','assets/servicos/cirurgias.svg','CIRURGIAS','Avançadas')
    .cardbox-flex.cardbox-saparate
      +cardbox('link link-white cardbox-style','assets/servicos/periodontia.svg','PERIODONTIA','Plásticas gengivais')
      +cardbox('link link-white cardbox-style','assets/servicos/esteticaoral.svg','ESTÉTICA ORAL','Botox')
      +cardbox('link link-white cardbox-style','assets/servicos/implantondontia.svg','IMPLANTONDONTIA','Guiado por computador')
      +cardbox('link link-white cardbox-style','assets/servicos/proteses.svg','PROTESES','Feitas por computador')
      