section.servicos.section-spacer--default
  .container 
    .row
      .col-md-12.text-center
        h2.title.c-white.spacer-mb--default SERVIÇOS
    .cardbox-flex
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/convenios.svg','CONVÊNIOS')
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/clock.svg','HORÁRIOS')
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/users.svg','CORPO CLÍNICO')
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/calendar.svg','AGENDAMENTO')
    .border-bottom
    .cardbox-flex
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/convenios.svg','CONVÊNIOS')
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/clock.svg','HORÁRIOS')
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/users.svg','CORPO CLÍNICO')
      +cardbox('link link-white cardbox-nospace cardbox-style','assets/calendar.svg','AGENDAMENTO')
      